@{
    ViewBag.Title = "Welcome to Zero Hunger";
}
<h2>@ViewBag.Title</h2>

<p><a href="/Restaurant/Details" class="btn btn-success">Food List</a></p>
<p><a href="/Restaurant/Add" class="btn btn-success">Add Food</a></p>


